/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #13131f;
  font-family: Arial, sans-serif;
}

nav {
  border-bottom: 3px solid #8257e6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: #13131f;
}

ul {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  gap: 4rem;
}

ul li {
  list-style: none;
}

nav ul li a {
  display: inline-block; /* necessário para o transform funcionar bem */
  transition: transform 0.2s ease, color 0.2s ease;
}

nav ul li a:hover {
  transform: scale(1.05); 
  color: #8257e6; 
}


ul li a {
  color: white;
  text-decoration: none;
}


#inicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.titulo {
  padding: 2rem 4rem;
}

.foto {
  padding: 2rem 2rem 0 4rem;
}

.eu-img {
  max-width: 400px;
  border-radius: 100%;
  border: 10px solid #8257e6;
  display: inline-block;
  transition: transform 0.5s ease;
}

.eu-img:hover {
  transform: scale(1.1);
}

h1 {
  color: white;
  font-size: 3rem;
}

span {
  font-size: 2.5rem;
  color: #8257e6;
}

p {
  color: #828282;
  font-size: 1.5rem;
}

#sobre {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  padding-top: 8rem;
  color: white;
  border-bottom: 3px solid #8257e6;
}

.p-sobre {
  text-align: center;
  padding: 3rem 4rem 0;
  line-height: 1.6;
}

#projetos {
  min-height: 100vh;
  padding: 8rem 2rem;
}


h3 { 
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.h3-projetos {
  color: white;
  font-size: 2.5rem;
  border-bottom: 3px solid #8257e6;
  width: fit-content;
  margin: 0 auto;

}

.container-projetos {
  display: flex;
  flex-direction: column;
}

.apresentacao {
  display: flex;
  justify-content: center;
}

.p-projetos-apresentacao {
  margin-top: 50px;
}

.sites, .formularios, .clones {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.projeto-box {
  margin-top: 15px;
}

.img-projeto {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  display: inline-block;
  transition: transform 0.3s ease;
  
}

.img-projeto:hover {
  transform: scale(1.1);
}

#contato {
  min-height: 100vh;
  padding-top: 6rem;
}

.h4-contato {
  color: white;
  font-size: 2.5rem;
  border-bottom: 3px solid #8257e6;
  width: fit-content;
  margin: 15px auto;
  padding: 0.5rem;
}

.container-contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
  padding: 3rem 0;
}

.email, .telefone, .linkedin, .github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-contato {
  font-size: 19px;
  color: #828282;
  margin-top: 15px;
}

.icon {
  color: #8257e6;
}

.icon:hover {
  
}

footer {
  text-align: center;
  padding: 2rem;
  color: #828282;
}


@media (max-width: 450px) {
nav {
  display: none;
 }

 #inicio {
  flex-direction: column;
 }

.titulo h1 {
  font-size: 40px;
}

.titulo span {
  font-size: 35px;
}

.titulo p {
  font-size: 22px;
}

 .eu-img {
  width: 300px;
 }

 .p-sobre {
  font-size: 22px;
  text-align: center;
 }

 .container-projetos {
  flex-direction: column;
 }

 .sites, .formularios, .clones {
  flex-direction: column;
 }

 .container-contato {
  flex-direction: column;
 }

}


 





